@model IEnumerable<iclickpro.Model.EntityItem>

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title="淘快词 宝贝找词";
}

<div class="ch-container">
    <div class="row">

        @RenderPage("~/Views/Shared/_PartialLeftMenu.cshtml")

        <div id="content" class="col-lg-10 col-sm-10">

            <!--宝贝找词开始-->
            <div id="divItemSelect" class="row">
                <div class="box-tkc body-color col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-eye-open"></i> 宝贝找词</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content row" style="margin:0px;padding:10px;">
                            <div class="form-inline" role="form">
                                <div class="form-group ">
                                    <label class="control-label" for="txtItemIdOrUrl">宝贝链接：</label>
                                    <div class="input-group" style="min-width:600px;">
                                        <input class="form-control" id="txtItemIdOrUrl" placeholder="http://item.taobao.com/item.htm?id=xxxxxxxxx" value="http://item.taobao.com/item.htm?id=@ViewBag.ItemOnline.item_id" type="text">
                                    </div>
                                    <button class="btn btn-primary" onclick="searchWord();" >开始找词</button>
                                    <button class="btn btn-default">打开宝贝</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--宝贝找词结束-->
            <!--我的宝贝开始-->
            <div class="row">
                <div class="box-tkc col-md-12">
                    <div class="box-inner">
                        @*<div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-picture"></i> 宝贝和关键词</h2>
                        </div>*@
                        <div class="box-content" style="margin:0px;padding:0px;">
                            <ul class="nav nav-tabs" id="myTab" style="margin:0px;">
                                <li id="tabItemList" class="active"><a href="#itemList" onclick="itemListClick();">我的宝贝</a></li>
                                <li id="tabWordList" ><a href="#wordList" onclick="wordListClick();">关键词</a></li>
                            </ul>

                            <div id="myTabContent" class="tab-content" >
                                <div id="itemList" class="tab-pane active" style="padding:10px;">
                                    <ul class="thumbnails gallery" style="margin:0px;padding:0px;">
                                        @foreach (var item in Model)
                                        {
                                            <li class="thumbnail" style="margin:0px">
                                                <a style="background:url(@Html.DisplayFor(modelItem => item.pic_url)_80x80.jpg)" href="#"
                                                   title="@Html.DisplayFor(modelItem => item.item_title)">
                                                    <img id="@Html.DisplayFor(modelItem => item.item_id)" src="@Html.DisplayFor(modelItem => item.pic_url)_80x80.jpg" style="width:100px !important; height:100px !important;" />
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div id="wordList" class="tab-pane">
                                    <div class="row">
                                        <span class="col-md-2">宝贝标题：</span>
                                        <span id="itemTitle" class="col-md-8"></span>
                                        <span id="waitSearchWord"></span>
                                    </div>
                                    <div id="grid" class="table-responsive">

                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <!--我的宝贝结束-->
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Settings</h3>
                    </div>
                    <div class="modal-body">
                        <p>Here settings can be configured...</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@*<div>
        <footer class="row">
            <p class="col-md-9 col-sm-9 col-xs-12 copyright">
                &copy; <a href="http://www.taokuaiche.com" target="_blank">
                    淘快词
                </a> 2012 - 2015
            </p>
            <p class="col-md-3 col-sm-3 col-xs-12 powered-by">
                Powered by: <a href="http://www.taokuaiche.com">世奇广告</a>
            </p>
        </footer>

    </div>*@

<script type="text/javascript">
    //置顶漂浮
    $(document).ready(function () {
        $("#divItemSelect").smartFloat();
        
        
        
    });

    var gridHeaderFirstTop;
    function finish() {
        //console.log($(".k-grid-content").html());
        //console.log($(".k-grid-header").html());
        if (!gridHeaderFirstTop) {
            gridHeaderFirstTop = $(".k-grid-header").position().top
            if (gridHeaderFirstTop == 0) {
                gridHeaderFirstTop = $(".k-grid-header").offset().top;
            }
        }
        $(".k-grid-header").smartFloat(gridHeaderFirstTop);
        $('#waitSearchWord').text("找词完成");
        $('#divItemSelect').hide();
    }

    function searchWord() {
        loading();

        var grid = $("#grid").kendoGrid({

            filterable: true,
            columns: [
                    { field: "id", title: "编号", width: 100, "filterable": { "messages": { "info": "显示符合以下条件的行", "isTrue": "为真", "isFalse": "为假", "filter": "过滤", "clear": "清除过滤", "and": "并且", "or": "或者", "selectValue": "-选择值-", "operator": "接线员", "value": "值", "cancel": "取消" }, "operators": { "string": { "eq": "等于", "neq": "不等于", "startswith": "开始于", "endswith": "结束于", "contains": "包含", "doesnotcontain": "不包含" }, "number": { "eq": "等于", "neq": "不等于", "gte": "大于或等于", "gt": "大于", "lte": "小于或等于", "lt": "小于" }, "date": { "eq": "等于", "neq": "不等于", "gte": "大于或等于", "gt": "大于", "lte": "小于或等于", "lt": "小于" }, "enums": { "eq": "等于", "neq": "不等于" } } } },
                    { field: "word", title: "关键词", width: 250 },
                    { field: "impressions", title: "展现" }
            ],
            groupable: false,
            //scrollable: true,
            //height: "800px",
            sortable: {
                mode: "single",
                allowUnsort: false
            },
            dataSource: {
                type: "aspnetmvc-ajax",
                transport: {
                    read: {
                        url: "/SearchWord/SearchWordByItem",
                        type: "POST",
                        data: function () {
                            return {
                                itemUrl: $('#txtItemIdOrUrl').val()
                            };
                        }
                    },
                    dataType: "json"
                },
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                schema: {
                    data: function (response) {
                        return response.Data;
                    },
                    total: function (response) {
                        return response.Total;
                    },
                    model: {
                        id: "id",
                        fields: {
                            id: { type: "number" },
                            word: { type: "string" },
                            impressions: { type: "number" }
                            //date: { type: "date" }
                        }
                    }
                }
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 20,
                page: 1,
                pageSize: 50,
                pageSizes: [50, 100, 200, 300],
                messages: {
                    display: "显示 {0}-{1} 共 {2} 项",
                    empty: "没有数据",
                    itemsPerPage: "每页显示数量",
                    first: "第一页",
                    last: "最后一页",
                    next: "下一页",
                    previous: "上一页"
                }
            },
            dataBound: finish,
        });
    }

    function loading() {
        var imgUrl = "/img/ajax-loaders/ajax-loader-6.gif";
        var fullImgUrl = '<img src="{0}"/>'.format(appPath == "/" ? imgUrl : appPath + imgUrl);
        //console.log(fullImgUrl);
        $('#waitSearchWord').html(fullImgUrl);

        $("#tabItemList").removeClass("active");
        $("#itemList").removeClass("active");

        $("#tabWordList").addClass("active");
        $("#wordList").addClass("active");
    }

    function response(item) {
        console.log(item);
        $('#itemTitle').text(item.item_title);
    }

    function additionalInfo() {
        return {
            itemUrl: $('#txtItemIdOrUrl').val()
        }
    }

    function itemListClick() {
        $('#divItemSelect').show();
        //alert('itemList');
    }

    function wordListClick() {
        //alert('wordList');
        $('#divItemSelect').hide();
    }
</script>


